.Category__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.category-card {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #146eb4;
  width: fit-content;
  color: white;
  margin: 1.5rem;
  cursor: pointer;
}

.categoryName {
  padding: 0.5rem;
}
