.LoginAndSignupCard {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  padding: 1.5rem;
  width: 18rem;
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 25%);
}

.signupAndLoginNavigator {
  cursor: pointer;
}

.primaryInput {
  background-color: rgb(248, 241, 241);
}

.error {
  color: red;
}

@media screen and (min-width: 768px) {
  .LoginAndSignupCard {
    width: 30rem;
  }
}
