@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.Heading__container {
  display: flex;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: large;
  margin: 1rem;
}

@media screen and (min-width: 768px) {
  .Heading__container {
    justify-content: flex-start;
  }
}


