@import url("https://effortlessui.netlify.app/base.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.ecommerceNav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  border: rgb(190, 186, 186) solid 1px;
  font-family: "Poppins", sans-serif;
  background-color: #ebecf0;
}

.ecommerce__list {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.ecommerce__list > li {
  margin: 0 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 935px) {
  .ecommerce__list > li {
    margin: 0.5rem 4rem;
  }
}

@media screen and (max-width: 700px) {
  .ecommerce__list > li {
    margin: 0.5rem 2rem;
  }
}

@media screen and (max-width: 450px) {
  .ecommerce__list > li {
    margin: 0.5rem 1.3rem;
  }
}
